csv2siard/sample_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.admin.ch/xmlns/siard/1.0/schema0/table0.xsd" xmlns="http://www.admin.ch/xmlns/siard/1.0/schema0/table0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="row" type="rowType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="rowType">
		<xs:sequence>
			<xs:element minOccurs="0" name="c1" type="xs:string"/>
			<xs:element minOccurs="0" name="c2" type="xs:integer"/>
			<xs:element minOccurs="0" name="c3" type="xs:string"/>
			<xs:element minOccurs="0" name="c4" type="xs:string"/>
			<xs:element minOccurs="0" name="c5" type="xs:string"/>
			<xs:element minOccurs="0" name="c6" type="xs:string"/>
			<xs:element minOccurs="0" name="c7" type="xs:integer"/>
			<xs:element minOccurs="0" name="c8" type="xs:string"/>
			<xs:element minOccurs="0" name="c9" type="xs:integer"/>
			<xs:element minOccurs="0" name="c10" type="xs:string"/>
			<xs:element minOccurs="0" name="c11" type="xs:string"/>
			<xs:element minOccurs="0" name="c12" type="xs:string"/>
			<xs:element minOccurs="0" name="c13" type="xs:string"/>
			<xs:element minOccurs="0" name="c14" type="xs:string"/>
			<xs:element minOccurs="0" name="c15" type="xs:integer"/>
			<xs:element minOccurs="0" name="c16" type="xs:integer"/>
			<xs:element minOccurs="0" name="c17" type="xs:string"/>
			<xs:element minOccurs="0" name="c18" type="xs:string"/>
			<xs:element minOccurs="0" name="c19" type="xs:string"/>
			<xs:element minOccurs="0" name="c20" type="xs:string"/>
			<xs:element minOccurs="0" name="c21" type="xs:string"/>
			<xs:element minOccurs="0" name="c22" type="xs:string"/>
			<xs:element minOccurs="0" name="c23" type="xs:string"/>
			<xs:element minOccurs="0" name="c24" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
